<b><h1>print() Function</h1>

In [ ]:
print("Welcome to Python Programming")
print("Fifth Semester Data Science")

Welcome to Python Programming
Fifth Semester Data Science

In [ ]:
print("Python", "Programming")

Python Programming

In [ ]:
print("Python", "Programming", sep='$') # sep has a default value of ' '

Python$Programming

In [ ]:
a="Aman"
print(f'Welcome {a}')

Welcome Aman

In [ ]:
print('Welcome {}'.format(a))

Welcome Aman

In [ ]:
print("Welcome \
    to Python Programming")

Welcome     to Python Programming

In [ ]:
print("""Welcome
to Python Programming""")

Welcome
to Python Programming

<b><h1>input() Function</h1>

In [ ]:
var = input("a number")
print(var)

7

<b><h1>Python Variables</h1>
A variable is a container for a value
In Python, we don't define the type of the variable. It is assumed on the basis of the value it holds.
Hence it is called a dynamically-typed Language

In [ ]:
x= 40
print(x) 
type(x)

40

int

In [ ]:
x= 'Hello'
print(x)
type(x)

Hello

str

In [ ]:
x= 4.0
print(x) 
type(x)

4.0

float

<b><h1>Multiple Assignment</h1>

In [ ]:
age, city = 20, 'Bangalore'
print(age, city)

20 Bangalore

In [ ]:
a=b=c=7
print(a,b,c)

7 7 7

<b><h1>Swapping Variables</h1>

In [ ]:
a,b = 'red', 'blue'
print(a,b)

red blue

In [ ]:
a,b = b,a
print(a,b)

blue red

<b><h1>Python Data Types</h1> <br>
1. Numbers    : int, float, complex, <u>Long(discontinued from Python 3.x)</u><br>
2. Strings    : Any value within the " " or ' ' is a String <br>
3. Lists      : It is a collection of values which are mutable and are contained with [] <br>
4. Tuples     : It is a collection of values which are immutable and are contained within () <br>
5. Dictionary : Declared in key-value pairs which are contained within {} <br>
6. Bool       : Can store either True or False <br>
7. Sets       : It can have a list of unique values contained within {} <br>

In [ ]:
# Numeric data type
a = 7
b = 7.9
c = 7+9j
print(" Value of a = ",a,"\n Value of b = ",b,"\n Value of c = ",c)
print(" Type of a = ",type(a))
print(" Type of b = ",type(b))
print(" Type of c = ",type(c))

7 7.9 (7+9j)
Type of a = <class 'int'>
<class 'float'>
<class 'complex'>

In [ ]:
#Strings
a = "Python"
print(" Value of a = ",a)
print(" Type of a = ",type(a))

Python

str

In [ ]:
#lists
a = [1,2,'a']
print(" Value of a = ",a)
print(" Type of a = ",type(a))

[1, 2, 'a']

list

In [ ]:
#Set
a = {1,2,3,3,4,5,5}
print(" Value of a = ",a)
print(" Type of a = ",type(a))

 Value of a =  {1, 2, 3, 4, 5}
 Type of a =  <class 'set'>

In [ ]:
#Dictionary
a = {'a':7 , 'b':'Seven'}
print(" Value of a = ",a)
print(" Type of a = ",type(a))

 Value of a =  {'a': 7, 'b': 'Seven'}
 Type of a =  <class 'dict'>

In [ ]:
#Bool
a = 7>9
print(" Value of a = ",a)
print(" Type of a = ",type(a))

 Value of a =  False
 Type of a =  <class 'bool'>

In [ ]:
#Tuples
a = (1,2,3,'Python')
print(" Value of a = ",a)
print(" Type of a = ",type(a))

 Value of a =  (1, 2, 3, 'Python')
 Type of a =  <class 'tuple'>

<b><h1>Type Conversions</h1> <br>

In [ ]:
print(int(3.56))
print(float(3))
print(str(3.56))
print(bool(3.56))
print(set([1,2,3]))
print(list("123"))
print(tuple({1,2,2,4}))

3
3.0
3.56
True
{1, 2, 3}
['1', '2', '3']
(1, 2, 4)

<h2> Comparison Operators

In [ ]:
a = 7
b = 9
c = a

In [ ]:
print(a<b)
print(a>b)
print(a<=b)
print(a>=b)
print(a == b)   
print(a!=b)

True
False
True
False
False
True

<h2> Bitwise Operators

In [ ]:
print("Logical AND            =",a&b)
print("Logical OR of a and b  =",a|b)
print("Logical XOR of a and b =",a^b)
print("Logical NOT of a       =",~a)
print("Logical NOT of b       =",~b)

Logical AND            = 1
Logical OR of a and b  = 15
Logical XOR of a and b = 14
Logical NOT of a       = -8
Logical NOT of b       = -10

<h2> Arithemetic Operators

In [ ]:
print("Sum               = ",a+b)
print("Difference        = ",a-b)
print("Product           = ",a*b)
print("Quotient          = ",a/b)
print("Remainder         = ",a%b)   
print("Floor Division    = ",a//b)
print("a to the power of = ",a**b)

Sum               =  16
Difference        =  -2
Product           =  63
Quotient          =  0.7777777777777778
Remainder         =  7
Floor Division    =  0
a to the power of =  40353607

<h2> Identity Operators

In [ ]:
print("ID of a", id(a))
print("ID of b", id(b))
print("ID of c", id(c))

ID of a 140733149620304
ID of b 140733149620368
ID of c 140733149620304

In [ ]:
# is compares the ID of the numbers
print(a is b)
print(a is c)
print(a is not b)

False
True
True

In [ ]:
d = [1,2,3,4,5]

In [ ]:
# in checks if the value is present within some object
print(3 in d)
print(6 in d)
print(7 not in d)

True
False
True

<h2> Logical Operators

In [ ]:
print(a>b and a>c)
print(b>c and b>a)
print()

<h1> Design a Python program to find the average of best two marks out of three marks taken as input (without using any control statements)

In [ ]:
import math as m

<h2>Eliminate the smallest number and find the average

In [ ]:
a=10
b=11
c=12
smallest = min(a,b,c)
average = (a+b+c-smallest)/2
average

11.5

<h2> Find the Area of a triangle

In [ ]:
#with sqrt()
s= (a+b+c)/2
area = m.sqrt((s-a)*(s-b)*(s-c)*s)
area

51.521233486786784

In [ ]:
#without sqrt()
area = ((s-a)*(s-b)*(s-c)*s)**0.5
area

51.521233486786784

<h2>FUNCTIONS IN PYTHON:</h2>
<br>1. <u>Function defition</u>: A statement that creates a new function, specifying its name, parameters and the statements it contains
<br>2. <u>header</u>: The first line of a function definition
<br>3. <u>body</u>: The sequence of statements inside the function definition
<br>4. <u>parameter</u>: A name inside a function to refer to the value passed as an argument.
<br>5. <u>function call</u>: A statement that runs a function. It consists of the function name followed by an argument list in parentheses.
<br>6. <u>argument</u>: A value provided to a function when the function is called. This value is assigned to the corresponding parameter in the fund
<br>7. <u>local variable</u>: A variable defined inside a function. A local variable can only be used inside its function.
<br>8. <u>return value</u>: The result of a function. If a function call is used as an expression, the return value is the value of the expression.
<br>9. <u>fruitful function</u>: A function that returns a value.
<br>10. <u>void function</u>: A function that always returns None.
<br>11. <u>None</u>: A special value returned by void functions.

<h2> TYPES OF FUNCTIONS IN PYTHON </h2> <br>
1. User Defined Function <br>
2. Built-in Function

<h2> Control Statements

if-elif-if

<h2> While loop in Python </h2>
-> Entry controlled loop <br>
-> syntax: <br>
    while expression: <br>
            statement(s)

In [ ]:
my_string = 'Hello'
print(my_string)

my_string = "Hello"
print(my_string)

# triple quotes string can extend multiple lines
my_string = """Hello, welcome to
           the string in Python
                        Fifth Sem Data Science Students"""
print(my_string)

Hello
Hello
Hello, welcome to
           the string in Python
                        Fifth Sem Data Science Students

In [ ]:
str = 'University'
print('str = ', str)

#first character
print('str[0] = ', str[0])

#last character
print('str[-1] = ', str[-1])

#slicing 2nd to 5th character
print('str[1:5] = ', str[1:5])

#slicing 6th to 2nd last character
print('str[5:-2] = ', str[5:-2])
print(str[-2])

str =  University
str[0] =  U
str[-1] =  y
str[1:5] =  nive
str[5:-2] =  rsi
t

In [ ]:
#len(): The len() method returns the length of a string.
str = "Data Science"
print(len(str))

12

In [ ]:
a="a b"
print(len(a))

3

In [ ]:
#lower(): The lower() method returns the string in lower case.

str = "Python Programming"
print(str.lower())

python programming

In [ ]:
#upper(): The upper() method returns the string in upper case.

str = "Python Programming"
print(str.upper())

PYTHON PROGRAMMING

In [ ]:
#replace(): The replace() method replaces a string with another string.

a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [ ]:
str = "Python Programming"
print(str.replace("Python","Java"))

Java Programming

In [ ]:
#split():The split() method splits the string into substrings if it finds instances of the separator.

a = "Hello. World!"
print(a.split(" "))

['Hello.', 'World!']

In [ ]:
a = "Hello. World!"
print(a.split(","))

['Hello. World!']

In [ ]:
#strip(): The strip() method removes any whitespace from the beginning or the end(eitherside).
#lstrip() and rstrip() removes leading and trailing whitespace from string.

str = "     Python Programming   "
print(str.strip())

Python Programming

In [ ]:
str = "     Python Programming   "
print(str.lstrip())

Python Programming

In [ ]:
str = "     Python Programming   "
print(str.rstrip())

     Python Programming

In [ ]:
#center(): The center() method will center align the string, using a specified character 
#(space is default) as the fill character.
#Syntax:
#string.center(length, character)

txt = "data"
x = txt.center(20)
print(x)

        data

In [ ]:
#count(): Return the number of times the value appears in the string
#Syntax:
#string.count(value, start, end)

#value	Required. A String. The string to value to search for
#start	Optional. An Integer. The position to start the search. Default is 0
#end	Optional. An Integer. The position to end the search. Default is the end of the string


txt = "Python Programming"
x = txt.count("q")
print(x)

0

In [ ]:
#find():The find() method finds the first occurrence of the specified value.
#It returns -1 if the value is not found.

#string.find(value, start, end)

#value	Required. The value to search for
#start	Optional. Where to start the search. Default is 0
#end	Optional. Where to end the search. Default is to the end of the string

txt = "Python Programming"
x = txt.find("o")
print(x)

txt = "Python Programming"
x = txt.find("o",7)
print(x)

txt = "Python Programming"
x = txt.find("q")
print(x)

4
9
-1

In [ ]:
#rfind(): The rfind() method finds the last occurrence of the specified value.

txt = "Hello, welcome to my world."
x = txt.rfind("e")
print(x)

13

In [ ]:
#index():Same as find() except it returns exception, If not found.
#The index() method finds the first occurrence of the specified value.
#The index() method raises an exception if the value is not found.


txt = "Python Programming"
x = txt.index("r")
print(x)

8

In [ ]:
#rindex(): The rindex() method finds the last occurrence of the specified value.
txt = "Python Programming"
x = txt.rindex("m")
print(x)

14

In [ ]:
#swapcase():Swaps cases, lower case becomes upper case and vice versa

txt = "Python Programming"
x=txt.swapcase()
print(x)

pYTHON pROGRAMMING

In [ ]:
#casefold():removes all case distinctions present in a string. It is used for caseless matching, 
#i.e. ignores cases when comparing.
txt='Welcome to Python Programming'
print(txt.casefold())

welcome to python programming

In [ ]:
#ord(): Converts character to a numeric code.

print(ord(' '))   
print(ord('a'))

32
97

In [ ]:
#chr(): Coverts numeric code to character.
print(chr(97))

a

In [ ]:
#title():title() method will capitalize each word in a string.
str="welcome to python programming"
print(str.title())

Welcome To Python Programming

In [ ]:
str="welcome to python programming"
print(str.capitalize())

Welcome to python programming

In [ ]:
#islower()
s='Python'
print(s.islower())

#format string
str=' Amar'
print(f'Welcome{str}')
print('Welcome {}'.format(str))

#isupper()
s='PYTHoN'
print(s.isupper())

#isdigit()
s='1234a'
print(s.isdigit())

#isalnum()
s='123abc!'
print(s.isalnum())

#isspace()
s=' a  '
print(s.isspace())

#startswith()
#endswith()
s='Python'
print(s.startswith('py'))
print(s.endswith('ton'))

#isalpha()
str1 = "Welcome"  
str2 = str1.isalpha()  
print(str2)

#isdigit()
str1 = '12345'  
str2 = str1.isdigit()  
print(str2)

False
Welcome Amar
Welcome  Amar
False
False
False
False
False
False
True
True

In [ ]:
a = [81, 82, 83]
b = [81, 82, 83]
print(a == b)
print(a is b)

True
False

In [ ]:
b = a
print(a == b)
print(a is b)
print(a)
print(b)       
b[0] = 5
print(a)
print(b)

True
True
[81, 82, 83]
[81, 82, 83]
[5, 82, 83]
[5, 82, 83]

In [ ]:
a = [81, 82, 83]
b = [81, 82, 83]
print(a)
print(id(a))
print(b)
print(id(b))

[81, 82, 83]
1328761486976
[81, 82, 83]
1328761557824

In [ ]:
b = a[:]
print(a == b)
print(a is b)
print(a)
print(b)       
b[0] = 5
print(a)
print(b)

True
False
[81, 82, 83]
[81, 82, 83]
[81, 82, 83]
[5, 82, 83]

In [ ]:

str = 'University'
print('str = ', str)

#first character
print('str[0] = ', str[0])

#last character
print('str[-1] = ', str[-1])

#slicing 2nd to 5th character
print('str[1:5] = ', str[1:5])

#slicing 6th to 2nd last character
print('str[5:-2] = ', str[5:-2])

str =  University
str[0] =  U
str[-1] =  y
str[1:5] =  nive
str[5:-2] =  rsi

In [ ]:
str="abcd efgh"
print(str[::3])

adf

In [ ]:
str="abcd"
print(str[::-1])

dcba

<h2> Lists

1. List is an ordered collection of elements and it is mutable
2. All elements are placed inside [], separated by commas
3. It can have any number of elements and they may be of different types

Let us consider a list : <br>
l1       = [ 5 , 9 , -1 , 4 ] <br>
index    =   0   1    2   3 <br>
negative =  -4  -3   -2  -1 <br>

In [ ]:
a = [1,2,3,4,5,5]
a

[1, 2, 3, 4, 5, 5]

In [ ]:
a = list([1,2,3,4,5,6])
a

[1, 2, 3, 4, 5, 6]

In [ ]:
print(a[0])
print(a[1])
print(a[-1])

1
2
6

In [ ]:
print(a[2:4])

[3, 4]

In [ ]:
z=[3,7,4,2]
for i in z:
    print(i)

3
7
4
2

<h3>Mutability

1. Lists are mutable because we can modify a list after creation
2. You can do various operations like push and pop

In [ ]:
#len() - counts the number of elemnts in the list
list1 = [10,25,30.5,'Myil',15,15,15,16]
print(len(list1))

8

In [ ]:
#count() - it returns the number of times a particular value appears in a list
print(list1.count(15))

3

In [ ]:
#append() - adds an element at the end of the list
list1.append("Vaughanan")
print(list1)

[10, 25, 30.5, 'Myil', 15, 15, 15, 16, 'Vaughanan']

In [ ]:
#insert() - inserts value at a particular position in a list
#By default the position is the end of the list just like append()
list1.insert(3,'Data Science')
print(list1)

[10, 25, 30.5, 'Data Science', 'Myil', 15, 15, 15, 16, 'Vaughanan']

In [ ]:
#pop() - removes the element at a specified position
#By default the last element stored in the list is removed
list1.pop()
print(list1)
list1.pop(2)
print(list1)

[10, 25, 30.5, 'Data Science', 'Myil', 15, 15, 15, 16]
[10, 25, 'Data Science', 'Myil', 15, 15, 15, 16]

In [ ]:
#remove() - removes the first occurrence of the of specified value
list1.remove(15)
print(list1)

[10, 25, 'Data Science', 'Myil', 15, 15, 16]

In [ ]:
#index() - finds the position at the first occurrence of specified value
list1.index('Data Science')

2

In [ ]:
#reverse() - reverses the contents of the list
print(list1)
print("Before reversal: ",id(list1))
list1.reverse()
print(list1)
print("After reversal: ",id(list1))

[10, 25, 'Data Science', 'Myil', 15, 15, 16]
Before reversal:  2553639611456
[16, 15, 15, 'Myil', 'Data Science', 25, 10]
After reversal:  2553639611456

In [ ]:
#sort() - sorts the list in ascending order by default
#By default reverse = False
list2 = [4,2,4,6,7,3,9]
list2.sort()
print("Ascending order: ", list2)
list2.sort(reverse = True)
print("Decending order: ", list2)

Ascending order:  [2, 3, 4, 4, 6, 7, 9]
Decending order:  [9, 7, 6, 4, 4, 3, 2]

<h3> Aliasing in Python

It means to refer the same instance with different names. An alias is a a second name for a piece of data.

In [ ]:
list3 = list1
print("List 2: ",id(list3))
print("List 1: ",id(list1))

List 2:  2553639611456
List 1:  2553639611456

In [ ]:
#copy() - if we don't want to create a alias but we need a duplicate value then we can use copy()
list3 = list1.copy()
print("List 2: ",id(list3))
print("List 1: ",id(list1))

List 2:  2553645888512
List 1:  2553639611456

<h3> Cloning Lists

If we want to modify a list and also keep the copy of the original list

In [ ]:
list4 = list1[:] #make clones by using slice operator
print("Comparing Values: ",list4 == list1)
print("Comparing Address: ",list4 is list1)

Comparing Values:  True
Comparing Address:  False

In [ ]:
a = [1,2,3,4,5]
b = []
ctr = 0
n = int(input("Enter the number of times you want the iteration"))
for i in range(n):
    for j in a:    
        b[ctr] = a[i]
        b[ctr+1] = a[i]
        ctr = ctr + 1
        
print(a)

IndexError: list assignment index out of range

In [ ]:
n = int(input("Enter the number of times you want the iteration"))
c = []
for b in a:
    for x in range(n):
        c.append(b)

print(c)

[1, 1, 1, 2, 2, 2, 3, 3, 3, 4, 4, 4, 5, 5, 5]

In [ ]:
#clear() - Removes contents of the list
x = [1,2,3,4,5]
print(x," ", id(x))
x.clear()
print(x," ", id(x))

[1, 2, 3, 4, 5]   1281121666880
[]   1281121666880

In [ ]:
#del() - deletes the existence of the variable or deletes the particular value in a list
x = [1,2,3,4,5]
del(x)
print(x) #we get error because x is deleted

NameError: name 'x' is not defined

In [ ]:
x = [1,2,3,4,5]
del(x[2])
print(x) #value at 2nd index in x list is deleted

[1, 2, 4, 5]

In [ ]:
#extend() - adds the specified list elements to the end of the current list
x = [1,2,3,4,5]
print(x)
y = [6,7,8]
print(y)
x.extend(y)
print(x)
y.extend(x)
print(y)

[1, 2, 3, 4, 5]
[6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8]
[6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8]

<h2> List Comprehension

List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.

In [ ]:
#finding the square of the elements in the list
x = [1,2,3,4,5]
#using loop
y = []
for i in x:
    y.append(i*i)
y

[1, 4, 9, 16, 25]

In [ ]:
#using list comprehension
y = [i*i for i in x]
y

[1, 4, 9, 16, 25]

In [ ]:
#printing all the number greater than 30 using loop
x = [10,20,30,40,50]
y = []
for i in x:
    if i > 30:
        y.append(i)
y

[40, 50]

In [ ]:
#printing all the number greater than 30 using list comprehension
y = [i for i in x if i>30]
y

[40, 50]

In [ ]:
#create a list of numbers from 1 to 100 using list comprehension
x = [i for i in range(1,101)]
x

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

In [ ]:
#to create a list that contains the square of all numbers from 1 to 10 using list comprehension
y = [i*i for i in range(1,11)]
y

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
#Generate a list of even numbers from 50 to 100(both inclusive) using list comprehension
x = [i for i in range(50,101) if i%2==0]
x

[50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100]

In [ ]:
#Generate a list that contains the numbers divisible by 3 and 5 from 1 to 100
x = [i for i in range(1,101) if i%3==0 and i%5==0]
x

[15, 30, 45, 60, 75, 90]

<h2>Nested List

In [ ]:
a = [[1,2,3], [4,5,6], [7,8,9]]
a

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
#to access particular element in a nested list
print(a[0]) 
print(a[0][0]) #first element of the first list within the list

[1, 2, 3]
1

<h2>Tuples

Tuples are a sequence of immutable data structures (Python Objects) enclosed within paranthesis '()'. <br>
It can contain values of any type

<b>NOTE: Both list and Tuples are Sequenced

In [ ]:
a = (10,20,30,"orange","mango")
print(a)
type(a)

(10, 20, 30, 'orange', 'mango')

tuple

In [ ]:
b = 10,20,30,"apple","banana"
print(b)
type(b)

(10, 20, 30, 'apple', 'banana')

tuple

In [ ]:
#accessing a particular element in a tuple
print(a[0]) #printint the value of tuple at the 0th index
print(a[1:3]) #printing values of tuple at the indices 1 and 2
print(a[-1]) #printing only the last element
print(a[:-1]) #last element excluded
print(a[::-1]) #reverse order of a tuple

10
(20, 30)
mango
(10, 20, 30, 'orange')
('mango', 'orange', 30, 20, 10)

<h2>Tuples Continuation - Functions in Tuples

In [ ]:
#count(): Checks the total number of occurences of a particular value in a Tuple.
a = (1,2,3,4,5,6,7,7,7,7,7,7,7)
print(a.count(7))

7

In [ ]:
#index(): checks the index of the first occurence of a particular value in a tuple
print(a.index(7))

6

In [ ]:
#len(): It gives the length of the tuple
print(len(a))

13

In [ ]:
#min(): It returns the smallest value in a tuple
print(min(a))

1

In [ ]:
#max(): It returns the largest value in a tuple
print(max(a))

7

In [ ]:
#sorted(): Sorts the values in a tuple
print(sorted(a))

[1, 2, 3, 4, 5, 6, 7, 7, 7, 7, 7, 7, 7]

In [ ]:
print(sorted(a, reverse=True))

[7, 7, 7, 7, 7, 7, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
b = ('a','b','c',5) 
print(sorted(b))

TypeError: '<' not supported between instances of 'int' and 'str'

In [ ]:
#Repition using * operation on tuples
a = (10,20,30)
b = 3*a
b

(10, 20, 30, 10, 20, 30, 10, 20, 30)

In [ ]:
#Concatination using + operation on tuples
a = (3,6,9)
b = (4,7,9)
c = a+b
c

(3, 6, 9, 4, 7, 9)

In [ ]:
d = ('m','y','i','l')
b+d

(4, 7, 9, 'm', 'y', 'i', 'l')

In [ ]:
'm' in d

True

In [ ]:
#del(): It is a function used to remove the tuples from the memory
del(c)
print(c)

NameError: name 'c' is not defined

<h3> Tuples are faster than list

In [ ]:
import timeit
timeit.timeit('x = [1,2,3,4,5,6,7]')

0.10089240000002064

In [ ]:
timeit.timeit('x = (1,2,3,4,5,6,7)')

0.02545290000011846

In [ ]:
%timeit x = [1,2,3,4,5,6,7]

89.3 ns ▒ 5.63 ns per loop (mean ▒ std. dev. of 7 runs, 10000000 loops each)

In [ ]:
%timeit x = (1,2,3,4,5,6,7)

24.9 ns ▒ 2.21 ns per loop (mean ▒ std. dev. of 7 runs, 10000000 loops each)

In [ ]:
x = [1,2,3,4,5,6,7]
print('x as list =',x.__sizeof__())
x = (1,2,3,4,5,6,7)
print('x as tuple =',x.__sizeof__())

x as list = 96
x as tuple = 80

<h2> Sets

Set is an unordered collection of unique elements enclosed by '{}'. <br>
It can contain element of any type.

In [ ]:
a = {1,2,3,4}
a

{1, 2, 3, 4}

In [ ]:
#Set cannot be indexed
a[0]

TypeError: 'set' object is not subscriptable

<h2>Sets - Continuation & Set Functions

In [ ]:
#empty set
a = {}
print(a)
print(type(a))

{}
<class 'dict'>

Set elements are immutable <br>
Set itself is mutable

In [ ]:
a = {1,2,3,4,5}
a

{1, 2, 3, 4, 5}

In [ ]:
a.add(4)
a

{1, 2, 3, 4}

In [ ]:
#update(): This method updates the current set, by adding items from from another set
b = {4,5,6}
a.update(b)
a

{1, 2, 3, 4, 5, 6}

In [ ]:
#copy(): Used to clone the sets (Cloning)
c = a.copy()
print(c)
print(id(a))
print(id(c))

{1, 2, 3, 4, 5, 6}
2049786144800
2049786145696

In [ ]:
#Aliasing
c = a
print(c)
print(a)
print(id(a))
print(id(c))

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}
2049786144800
2049786144800

In [ ]:
#clear(): It removes all the elements in a set
c.clear()
print(c)

set()

In [ ]:
#del(): Deletes the set variable from the memory
del(c)
print(c) #c is removed from memory hence error

NameError: name 'c' is not defined

<h2> Sets - Operations

For operations we can either use operators (|, &, -, ^) or also methods (union(), intersection(), difference(), symmetric_difference()) <br>
But the reason why we have both ways of doing it is because, 
1. using methods we can peform Set operations on different data structures like lists and sets
2. using operators we can perform Set operations only on sets

In [ ]:
#Union (|)
c = a|b
print("a = ",a)
print("b = ",b)
print("c = ",c)

a =  {1, 2, 3, 4, 5}
b =  {4, 5, 6}
c =  {1, 2, 3, 4, 5, 6}

In [ ]:
#Union using union()
c = a.union(b)
print("a = ",a)
print("b = ",b)
print("c = ",c)

a =  {1, 2, 3, 4, 5}
b =  {4, 5, 6}
c =  {1, 2, 3, 4, 5, 6}

In [ ]:
#intersection (&)
c = a&b
print("a = ",a)
print("b = ",b)
print("c = ",c)

a =  {1, 2, 3, 4, 5}
b =  {4, 5, 6}
c =  {4, 5}

In [ ]:
#intersection using intersection()
c = a.intersection(b)
print("a = ",a)
print("b = ",b)
print("c = ",c)

a =  {1, 2, 3, 4, 5}
b =  {4, 5, 6}
c =  {4, 5}

In [ ]:
#Set Difference (-)
c = a-b
print("a = ",a)
print("b = ",b)
print("c = ",c)

a =  {1, 2, 3, 4, 5}
b =  {4, 5, 6}
c =  {1, 2, 3}

In [ ]:
c = b-a
print("a = ",a)
print("b = ",b)
print("c = ",c)

a =  {1, 2, 3, 4, 5}
b =  {4, 5, 6}
c =  {6}

In [ ]:
#Set Difference using difference()
c = b.difference(a)
print("a = ",a)
print("b = ",b)
print("c = ",c)

a =  {1, 2, 3, 4, 5}
b =  {4, 5, 6}
c =  {6}

In [ ]:
#Symmetric Set Difference (^)
c = a^b
print("a = ",a)
print("b = ",b)
print("c = ",c)

a =  {1, 2, 3, 4, 5}
b =  {4, 5, 6}
c =  {1, 2, 3, 6}

In [ ]:
#Symmetric Set Difference using symmetrical_difference()
c = a.symmetric_difference(b)
print("a = ",a)
print("b = ",b)
print("c = ",c)

a =  {1, 2, 3, 4, 5}
b =  {4, 5, 6}
c =  {1, 2, 3, 6}

In [ ]:
#remove() - removes a particular element from the set
#gives error if the element is not there in the set
c.remove(1)
c

{2, 3, 6}

In [ ]:
c.remove(1) #Gives error

KeyError: 1

In [ ]:
#discard() - removes a particular element from the set
#doesn't give error when element is not there in the set
c.discard(1)
c

{2, 3, 6}

In [ ]:
#issubset() - This method returns True if all the items in the set exists in the specified set, otherwise it returns false
a = {1,2,3,4,5,6}
b = {7,8,9}
c = {1,2,3}
print(b.issubset(a)) 
print(c.issubset(a))

False
True

In [ ]:
#issuperset() - This method returns True if a set contains all the elements that a particular set has
a = {1,2,3,4,5,6}
b = {7,8,9}
c = {1,2,3}
print(a.issuperset(b)) 
print(a.issuperset(c))

False
True

In [ ]:
#isdisjoint() - This method returns True if 2 sets doesn't contain any elements in common
a = {1,2,3,4,5,6}
b = {7,8,9}
c = {1,2,3}
print(b.isdisjoint(a)) 
print(c.isdisjoint(a))

True
False

<h2> Dictionaries

1. A Dictionary is a collection of values which are unordered, changeable and indexed.
2. In Python, a Dictionary can be created by placing sequence of elements within '{}', separated by ','
3. Dictionary holds a pair of values, one being the key and the other corresponding pair element being its 'Key : value'.
4. Can be of any datatype
5. We use immutable datatypes like strings, int .....etc.

In [ ]:
students = {
    97 : "Myil",
    98 : "Mithun",
    99 : "Sunaina",
    100 : "Rishabh",
    101 : "Naveen"
}

print(students)
x = students[97]
print(x)

x = students.get(97)
print(x)

x = students.get(102,'There is no key with the values specified')
print(x)

# If the dictionary has duplicate keys, 
# the value associated with the key at the latest initialisation is accepted 
# and the other values associated with the original key is discarded

{97: 'Myil', 98: 'Mithun', 99: 'Sunaina', 100: 'Rishabh', 101: 'Naveen'}
Myil
Myil
There is no key with the values specified

In [ ]:
Dict = {}
print(Dict)

{}

In [ ]:
#Adding elements one at a time
Dict[0] = 'Data'
Dict[1] = 'Science'
Dict[3] = 'Class'
print("Dictionary after adding 3 elements", Dict)

Dictionary after adding 3 elements {0: 'Data', 1: 'Science', 3: 'Class'}

In [ ]:
#Adding a list of values to a key
Dict['Subject'] = ['ML', 'Python', 'R programming']
print(Dict['Subject'])
print(Dict['Subject'][0])

['ML', 'Python', 'R programming']
ML

In [ ]:
students = dict(x = 'A', y = 'B', z = 'C')
print(students)
print(students['x'])

{'x': 'A', 'y': 'B', 'z': 'C'}
A

<h3>Dictionary - Methods

In [ ]:
#keys() : this method returns the keys of the dictionary
students.keys()

dict_keys(['x', 'y', 'z'])

In [ ]:
#values() : this method returns the values of the dictionary
students.values()

dict_values(['A', 'B', 'C'])

In [ ]:
#items() : this method returns the items in the dictionary with the key-value pair
students.items()

dict_items([('x', 'A'), ('y', 'B'), ('z', 'C')])

In [ ]:
#update() : This method inserts the specified items to the dictionary. The specified items can be a dictionary or iterable objects with key value pairs
students.update({'age':'18'})
students

{'x': 'A', 'y': 'B', 'z': 'C', 'age': '18'}

In [ ]:
#copy() : Performs Cloning on the dictionary
x = students.copy()
x

{'x': 'A', 'y': 'B', 'z': 'C', 'age': '18'}

In [ ]:
#sorted() : this returns a sorted sequence of the keys in the dictionary
x = sorted(students)
print(x)

x = sorted(students.items())
print(x)

print(sorted(students, reverse = True))
print(sorted(students.items(), reverse = True))

['age', 'x', 'y', 'z']
[('age', '18'), ('x', 'A'), ('y', 'B'), ('z', 'C')]
['z', 'y', 'x', 'age']
[('z', 'C'), ('y', 'B'), ('x', 'A'), ('age', '18')]

In [ ]:
#pop() : This method is used to remove and display an item from the dictionary
print(x)
x = students.pop('y')
print(x)
x = students.pop(5,"Key not present") #proceeds to other statements 
x = students.pop(5,-1) #Doesn't proceed to other statements 
print(x)

[('age', '18'), ('x', 'A'), ('y', 'B'), ('z', 'C')]
B
-1

In [ ]:
#del()
del students['x']
students

{'z': 'C', 'age': '18'}

In [ ]:
del students
students #error because no students dictionary in the memory

NameError: name 'students' is not defined

<h2> Dictionary Comprehension

In [ ]:
# Program to generate a dicitonary that contains(i, i*i) such that is an integral number between 1 and n (both included), 
# and then the program should print the dictionary
Dict = {}
n = int(input("Enter a number"))
for x in range(1,n+1):
    Dict[x] = x*x

Dict

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [ ]:
#using dictionary comprehension
d = {i:i**2 for i in range(1,n+1)}
d

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}