<h3> Descriptive Stats

In [1]:
import pandas as pd
import numpy as np

In [2]:
train_df=pd.read_csv("Titanic_train.csv")
cust_df =  pd.Series([1,5,10,30,50,30,15,40,45]) #Customize data set

In [3]:
print(train_df['Age'].mean())

29.69911764705882

In [4]:
print(cust_df.mean())

25.11111111111111

In [5]:
print(train_df['Age'].median())

28.0

In [6]:
print(cust_df.median())

30.0

In [7]:
#Median is equivalent to quantile function
print(train_df['Age'].quantile())

#25%
print(train_df['Age'].quantile(q=0.25))

#75%
print(train_df['Age'].quantile(q=0.75))

28.0
20.125
38.0

In [8]:
print(train_df['Age'].mode())

0    24.0
dtype: float64

In [9]:
print(cust_df.mode())

0    30
dtype: int64

In [10]:
cust_df2 =  pd.Series([1,5,10,30,50,30,15,40,45,45])  #customized dataset
print(cust_df2.mode())

0    30
1    45
dtype: int64

<h3>Measures of Dispersion</h3><br>
Measures of Dispersion are measures that indicate how spread the data is, or how they vary. The measures of dispersion are range, variance, standard deviation and the absolute deviation, or mean absolute deviation.

Range is the difference between the biggest and the smallest value in a data set. To make this calculation, we will use two Pandasâ€™ functions, max() and min(), that returns the maximum and minimum value in a data set, and then we will subtract one from the other

In [11]:
print(train_df['Age'].max() - train_df['Age'].min())

79.58

In [12]:
print(cust_df.max() - cust_df.min())

49

In [13]:
print(train_df['Age'].var())

211.01912474630802

In [14]:
print(cust_df.var())

325.1111111111111

In [15]:
print(train_df['Age'].std())

14.526497332334042

In [16]:
print(cust_df.std())

18.03083778173136

<h3>Covariance and Correlation</h3><br>
In some moments, we may want to know if two variables are related in a data set. For these cases, we calculate the covariance and correlation.

Covariance is a numerical measure that indicates the inter-dependency between two variables. Covariance indicates how two variables behave together in relation to their averages. A covariance of 0 indicates that the variables are totally independant, while a high and positive covariance value means that a variable is big when the other is big. Analogously, a negative covariance with a high absolute value means that one variable is big when the other is small. Covariance can be calculated through the cov() function. This function will return a matrix indicating the covariance between each column and the other columns on the data set:

In [17]:
print(train_df.cov())

              PassengerId  Survived     Pclass         Age      SibSp  \
PassengerId  66231.000000 -0.626966  -7.561798  138.696504 -16.325843
Survived        -0.626966  0.236772  -0.137703   -0.551296  -0.018954
Pclass          -7.561798 -0.137703   0.699015   -4.496004   0.076599
Age            138.696504 -0.551296  -4.496004  211.019125  -4.163334
SibSp          -16.325843 -0.018954   0.076599   -4.163334   1.216043
Parch           -0.342697  0.032017   0.012429   -2.344191   0.368739
Fare           161.883369  6.221787 -22.830196   73.849030   8.748734

                Parch         Fare
PassengerId -0.342697   161.883369
Survived     0.032017     6.221787
Pclass       0.012429   -22.830196
Age         -2.344191    73.849030
SibSp        0.368739     8.748734
Parch        0.649728     8.661052
Fare         8.661052  2469.436846

In [18]:
print(train_df.corr())

             PassengerId  Survived    Pclass       Age     SibSp     Parch  \
PassengerId     1.000000 -0.005007 -0.035144  0.036847 -0.057527 -0.001652
Survived       -0.005007  1.000000 -0.338481 -0.077221 -0.035322  0.081629
Pclass         -0.035144 -0.338481  1.000000 -0.369226  0.083081  0.018443
Age             0.036847 -0.077221 -0.369226  1.000000 -0.308247 -0.189119
SibSp          -0.057527 -0.035322  0.083081 -0.308247  1.000000  0.414838
Parch          -0.001652  0.081629  0.018443 -0.189119  0.414838  1.000000
Fare            0.012658  0.257307 -0.549500  0.096067  0.159651  0.216225

                 Fare
PassengerId  0.012658
Survived     0.257307
Pclass      -0.549500
Age          0.096067
SibSp        0.159651
Parch        0.216225
Fare         1.000000

In [20]:
train_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S