<b>19BTRCR007 <br>
Myil Vaughanan V L

<b><h1> LAB PROGRAM 8: </h1></b> <br>
Write and run a program:<br> 
a. To handle missing values in a dataset<br>
b. To remove duplicate values from a dataset <br>
c. To count NaN Values in a dataset

In [25]:
import pandas as pd
import numpy as np

In [26]:
# Handling missing Values
df = pd.read_csv('loan_data_set.csv')
print(df.head())

    Loan_ID Gender Married Dependents     Education Self_Employed  \
0  LP001002   Male      No          0      Graduate            No
1  LP001003   Male     Yes          1      Graduate            No
2  LP001005   Male     Yes          0      Graduate           Yes
3  LP001006   Male     Yes          0  Not Graduate            No
4  LP001008   Male      No          0      Graduate            No

   ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
0             5849                0.0         NaN             360.0
1             4583             1508.0       128.0             360.0
2             3000                0.0        66.0             360.0
3             2583             2358.0       120.0             360.0
4             6000                0.0       141.0             360.0

   Credit_History Property_Area Loan_Status
0             1.0         Urban           Y
1             1.0         Rural           N
2             1.0         Urban           Y
3             1.0         Urban           Y
4             1.0         Urban           Y

In [27]:
# Missing values in each column
missing_values = df.isnull().sum()
print(missing_values)

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [28]:
# Missing values from entire dataframe
missing_values = df.isnull().sum().sum()
print(missing_values)

149

In [29]:
print("Before Handling missing values:")
df.info()

Before Handling missing values:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             601 non-null    object
 2   Married            611 non-null    object
 3   Dependents         599 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB

In [30]:
# Type 1: Dropping missing values
df1 = df.dropna(inplace = False)
print("After Dropping Null values Attributes")
print(df1.info())
print("Number of null values = ",df1.isnull().sum().sum())

After Dropping Null values Attributes
<class 'pandas.core.frame.DataFrame'>
Int64Index: 480 entries, 1 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            480 non-null    object
 1   Gender             480 non-null    object
 2   Married            480 non-null    object
 3   Dependents         480 non-null    object
 4   Education          480 non-null    object
 5   Self_Employed      480 non-null    object
 6   ApplicantIncome    480 non-null    int64
 7   CoapplicantIncome  480 non-null    float64
 8   LoanAmount         480 non-null    float64
 9   Loan_Amount_Term   480 non-null    float64
 10  Credit_History     480 non-null    float64
 11  Property_Area      480 non-null    object
 12  Loan_Status        480 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 52.5+ KB
None
Number of null values =  0

In [31]:
# Type 2 : Filling in missing values with a particular value
df2 = df.fillna('0')
print("After Filling Null values Attributes")
print(df2.info())
print("Number of null values = ",df2.isnull().sum().sum())

After Filling Null values Attributes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             614 non-null    object
 2   Married            614 non-null    object
 3   Dependents         614 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      614 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         614 non-null    object
 9   Loan_Amount_Term   614 non-null    object
 10  Credit_History     614 non-null    object
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(1), int64(1), object(11)
memory usage: 62.5+ KB
None
Number of null values =  0

In [32]:
# Type 3 : Back Filling method ---- Filling value as per the next immediate value
df3 = df.fillna(method='bfill')
print("After Filling Null values Attributes")
print(df3.info())
print("Number of null values = ",df3.isnull().sum().sum())

After Filling Null values Attributes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             614 non-null    object
 2   Married            614 non-null    object
 3   Dependents         614 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      614 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         614 non-null    float64
 9   Loan_Amount_Term   614 non-null    float64
 10  Credit_History     614 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB
None
Number of null values =  0

In [33]:
# Type 4 : Front Filling method ---- Filling value as per the previous immediate value
df3 = df.fillna(method='ffill')
print("After Filling Null values Attributes")
print(df3.info())
print("Number of null values = ",df3.isnull().sum().sum())

After Filling Null values Attributes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             614 non-null    object
 2   Married            614 non-null    object
 3   Dependents         614 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      614 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         613 non-null    float64
 9   Loan_Amount_Term   614 non-null    float64
 10  Credit_History     614 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB
None
Number of null values =  1

In [35]:
# Type 5 : Filling missing values with a mesure of central tendency
print(df.describe())
df4 = df.fillna(df.mean())
print("After Filling Null values Attributes")
print(df4.info())
print("Number of null values = ",df4.isnull().sum().sum())

       ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
count       614.000000         614.000000  592.000000         600.00000
mean       5403.459283        1621.245798  146.412162         342.00000
std        6109.041673        2926.248369   85.587325          65.12041
min         150.000000           0.000000    9.000000          12.00000
25%        2877.500000           0.000000  100.000000         360.00000
50%        3812.500000        1188.500000  128.000000         360.00000
75%        5795.000000        2297.250000  168.000000         360.00000
max       81000.000000       41667.000000  700.000000         480.00000

       Credit_History
count      564.000000
mean         0.842199
std          0.364878
min          0.000000
25%          1.000000
50%          1.000000
75%          1.000000
max          1.000000
After Filling Null values Attributes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             601 non-null    object
 2   Married            611 non-null    object
 3   Dependents         599 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         614 non-null    float64
 9   Loan_Amount_Term   614 non-null    float64
 10  Credit_History     614 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB
None
Number of null values =  63

<ipython-input-35-43cf6c7f80d9>:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df4 = df.fillna(df.mean())

In [36]:
# Handling Duplicates
df = pd.read_csv("employees.csv")
df.sort_values("First Name", inplace = True)

In [37]:
duplicates = df.duplicated()
duplicates

101    False
327    False
440    False
937    False
137    False
       ...
902    False
925    False
946    False
947    False
951    False
Length: 1000, dtype: bool

In [39]:
df.drop_duplicates(subset ="First Name",keep = 'first')
print(df.head())

    First Name Gender Start Date Last Login Time  Salary  Bonus %  \
101      Aaron   Male  2/17/2012        10:20 AM   61602   11.849
327      Aaron   Male  1/29/1994         6:48 PM   58755    5.097
440      Aaron   Male  7/22/1990         2:53 PM   52119   11.343
937      Aaron    NaN  1/22/1986         7:39 PM   63126   18.424
137       Adam   Male  5/21/2011         1:45 AM   95327   15.120

    Senior Management             Team
101              True        Marketing
327              True        Marketing
440              True  Client Services
937             False  Client Services
137             False     Distribution

In [41]:
df.drop_duplicates(subset ="First Name",keep = 'last')
print(df.tail())

    First Name  Gender Start Date Last Login Time  Salary  Bonus %  \
902        NaN    Male  5/23/2001         7:52 PM  103877    6.322
925        NaN  Female  8/23/2000         4:19 PM   95866   19.388
946        NaN  Female  9/15/1985         1:50 AM  133472   16.941
947        NaN    Male  7/30/2012         3:07 PM  107351    5.329
951        NaN  Female  9/14/2010         5:19 AM  143638    9.662

    Senior Management          Team
902               NaN  Distribution
925               NaN         Sales
946               NaN  Distribution
947               NaN     Marketing
951               NaN           NaN

In [42]:
df.drop_duplicates(subset ="First Name",keep = False)
print(df.tail())

    First Name  Gender Start Date Last Login Time  Salary  Bonus %  \
902        NaN    Male  5/23/2001         7:52 PM  103877    6.322
925        NaN  Female  8/23/2000         4:19 PM   95866   19.388
946        NaN  Female  9/15/1985         1:50 AM  133472   16.941
947        NaN    Male  7/30/2012         3:07 PM  107351    5.329
951        NaN  Female  9/14/2010         5:19 AM  143638    9.662

    Senior Management          Team
902               NaN  Distribution
925               NaN         Sales
946               NaN  Distribution
947               NaN     Marketing
951               NaN           NaN